{% extends "layout.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<section class="blog">
    <div class="container">
        <h1>{{post.title}}</h1>
        <p class="blog-date">Date: {{ post.date | prettytime }}</p>
        {% for block in post.blocks %}
            {% if block.type == 'text' %}
                <p class="blog-text">{{block.data}}</p>
            {% elif block.type == 'heading' %}
                <h3 class="blog-heading">{{block.data}}</h3>
            {% elif block.type == 'code' %}
                <script src="{{block.data}}"></script>
            {% elif block.type == 'image' %}
                <img class="blog-image" src="{{block.data}}" alt="">
            {% elif block.type == 'list' %}
                {% set item_list = block.data.split(';') %}
                <ul>
                {% for item in item_list %}
                    <li>{{item}}</li>
                {% endfor %}
                </ul>
            {% elif block.type == 'link' %}
                <a href="{{block.data}}" class="blog-link">{{block.attribute}}</a><br>
            {% endif %}
        {% endfor %}
        <div class="sharethis-inline-share-buttons my-3"></div>
    </div>
</section>
{% endblock %}