{% extends "layout.html" %}
{% block title %}Data Scientist & Web Developer{% endblock %}
{% block content %}
<!-- start main banner -->
<section class="main_banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="text">
					<h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Data Scientist &<br/>Web Developer</h2>
					<a href="/portfolio" class="btn6">See My Portfolio</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end main banner -->

<!-- <section class="banner_bottom">
	<div class="container">
		<div class="wow bounceIn" data-wow-duration="1s">
			<p>One of the first 1000 Microsoft Certified Professional DBAs in country.</p>
			<div class="logos">
				<a href="#"><img src="/static/images/iu-26.png" alt=""></a>
				<a href="#"><img src="/static/images/iu-12.png" alt=""></a>
				<a href="#"><img src="/static/images/iu-27.png" alt=""></a>
				<a href="#"><img src="/static/images/iu-24.png" alt=""></a>
			</div>
			<p class="t_gray">with SQLSERVER 4.2-2017, SSIS, SSRS, expert level use of ORACLE: 8I-12.1. ETL including INFORMATICA, SSIS, ORACLE.  Big Data Analytics including HADOOP, NOSQL. </p>
		</div>
	</div>
</section> -->

<!-- start about us -->
<section class="about_us" id="about_us">
	<div class="container">
		<h3>my skillset</h3>
		<!-- <h1>Up to the <br/>minute on</h1> -->
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<a href="#" class="service_box wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="0s">
					<img src="/static/images/database.png" alt="">
					<h2>Languages</h2>
					<ul>
						<li style="color: #99A2A9;">Python</li>
						<li style="color: #99A2A9;">Javascript</li>
						<li style="color: #99A2A9;">SQL</li>
						<li style="color: #99A2A9;">Go</li>
					</ul>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a href="#" class="service_box wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0s">
					<img src="/static/images/analysis.png" alt="">
					<h2>Frameworks</h2>
					<ul>
						<li style="color: #99A2A9;">Keras</li>
						<li style="color: #99A2A9;">TensorFlow</li>
						<li style="color: #99A2A9;">Sklearn</li>
						<li style="color: #99A2A9;">Flask</li>
						<li style="color: #99A2A9;">React</li>
					</ul>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a href="#" class="service_box wow fadeInRight" data-wow-duration=".5s" data-wow-delay="0s">
					<img src="/static/images/chip.png" alt="">
					<h2>Skills</h2>
					<ul>
						<li style="color: #99A2A9;">Web APIs</li>
						<li style="color: #99A2A9;">Data Pipelines</li>
						<li style="color: #99A2A9;">Predictive Modeling</li>
						<li style="color: #99A2A9;">Cloud Deployment</li>
					</ul>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="info_result">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">My Background</h2>
				<p class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">Data Scientist with a web development and CS background.</p>
				<ul class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".8s">
					<li>Grew up in Boise, Idaho and graduated from RMHS ranked 2nd out of the 700+ student class.</li>
					<li>Attended 2 years at NYU studying computer science.</li>
					<li>Beginning of my second year of college, I started a web and mobile app development agency with a fellow student, <a href="https://varfaj.com" style="text-decoration: none; color: #99A2A9;">Varfaj Partners</a>.</li>
					<li>After a year of tech consultant work, I attended Lambda School's Data Science track to strengthen my data science and machine learning skills.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- end about us -->

<!-- start portfolio -->
<section class="portfolio" id="portfolio">
	<div class="container">
		<h3>my portfolio</h3>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<a href="https://www.foragegroup.com/" class="service_box wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="0s">
					<img src="/static/images/forage.png" height="50" alt="">
					<h2>Cofounder & Lead Dev</h2>
					<p>An online platform that connects companies with freelance sales reps to attend events on their behalf.</p>
				</a>
			</div>
			<div class="col-xs-12 col-md-6">
				<a href="https://varfaj.com/" class="service_box wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0s">
					<img src="/static/images/varfaj.png" height="50" alt="">
					<h2>Cofounder & Former CTO</h2>
					<p>A technology consulting agency that specializes in mobile and web application development.</p>
				</a>
			</div>
			<a href="/portfolio" class="btn6">See Full Portfolio</a>
		</div>
	</div>
</section>

<section class="partners">
	<div class="container">
		<h2 class="wow fadeInUp" data-wow-duration="1s">Using Modern Tools for Data Science<br/>and Web Development</h2>
		<p class="wow fadeInUp" data-wow-duration="1s">Experienced with the <strong>latest technologies</strong>.<br/> Strong with the <strong>fundementals</strong>.</p>
		<div class="logos">
			<a href="#" class="wow bounceIn" data-wow-duration="1s"><img src="/static/images/python.png" height="100" alt=""></a>
			<a href="#" class="wow bounceIn" data-wow-duration="1s"><img src="/static/images/scipy.png" height="100" alt=""></a>
			<a href="#" class="wow bounceIn" data-wow-duration="1s"><img src="/static/images/pandas2.png" height="100" alt=""></a>
			<a href="#" class="wow bounceIn" data-wow-duration="1s"><img src="/static/images/keras2.png" height="100" alt=""></a><br/>
			<a href="#" class="wow bounceIn" data-wow-duration="1s"><img src="/static/images/tf.png" height="100" alt=""></a>
			<a href="#" class="wow bounceIn" data-wow-duration="1s"><img src="/static/images/sql.png" height="100" alt=""></a>
			<a href="#" class="wow bounceIn" data-wow-duration="1s"><img src="/static/images/flask-icon.png" height="100" alt=""></a>
			<a href="#" class="wow bounceIn" data-wow-duration="1s"><img src="/static/images/iu-19.png" height="100" alt=""></a>
		</div>
		<!-- <div class="subscription wow fadeIn" data-wow-duration="1s">
			<h2>Subscribe to my newsletter</h2>
			<p>Get notifications everytime a blog post is made.</p>
			<form action="#">
				<input type="email" placeholder="Enter your email address here" class="form-control">
				<button class="btn btn-default">Subscribe</button>
			</form>
		</div> -->
	</div>
</section>
<!-- end portfolio -->

<!-- start blog -->
<section class="blog" id="blog">
	<div class="container">
		<h3>my blog</h3>
		<div class="row">
			{% for post in posts %}
				<div class="col-xs-12 col-md-4">
					<a href="/blog/{{post.id}}" class="service_box wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="0s">
						<h2>{{post.title}}</h2>
						{% if post.abstract %}
							<p>{{post.abstract}}</p>
						{% endif %}
						<p>{{ post.date | prettytime }}</p>
					</a>
				</div>
			{% endfor %}
		</div>
		<a href="/blog" class="btn6">See All Posts</a>
	</div>
</section>
<!-- end blog -->

<!-- start contact us -->
<section class="contact_us" id="contact_us">
	<div class="container">
		<h3 class="wow fadeInUp" data-wow-duration="1s">contact me</h3>
		<div class="row">
			<div class="col-xs-12 col-md-6 ">
				<p class="wow fadeInUp my-2" data-wow-duration="1s">
					(208) 350-1239<br/>
					ben10devera@gmail.com<br/>
					Boise, ID
				</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<form action="/contact" method="post">
					<div class="input-group">
						<input type="email" name="email" placeholder="Enter your email address here" class="form-control contact-input" required>
					</div>
					<div class="input-group my-2">
						<textarea name="message" class="form-control contact-input" placeholder="Enter your message here" required></textarea>
					</div>
					<div class="btn_group">
						<button class="btn6" type="submit">Send Message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- end contact us -->
{% endblock %}