{% extends "layout.html" %}
{% block title %}portfolio{% endblock %}
{% block content %}
<section class="portfolio">
    <div class="container">
        <h1>my portfolio</h1>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <a href="https://www.foragegroup.com/" target="_blank" class="service_box wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="0s">
              <img src="/static/images/forage.png" height="50" alt="">
              <h2>Cofounder & Lead Dev</h2>
              <p>An online platform that connects companies with freelance sales reps to attend events on their behalf.</p>
            </a>
          </div>
          <div class="col-xs-12 col-md-6">
            <a href="https://varfaj.com/" target="_blank" class="service_box wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0s">
              <img src="/static/images/varfaj.png" height="50" alt="">
              <h2>Cofounder & Former CTO</h2>
              <p>A technology consulting agency that specializes in mobile and web application development.</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <a href="https://www.mnistalgotoy.com/" target="_blank" class="service_box wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0s">
              <!-- <img src="/static/images/varfaj.png" height="50" alt=""> -->
              <h2 class="portfolio-mnist-heading">CNN MNIST Toy</h2>
              <ul>
                <li>Frontend - React web app to allow users to draw numbers and receive live predictions.</li>
                <li>Backend - Flask API with 4 Keras CNN models to make predictions.</li>
              </ul>
            </a>
          </div>
        </div>
        <h3>GitHub repos</h3>
        <div id="github-projects" class="row">
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script src="/static/js/github.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $("#github-projects").loadRepositories("bendevera");
  });
</script>
{% endblock%}